@{
    ViewData["Title"] = "Contactenos";
    Layout = "_Layout";
}

<div class="row shadow-lg p-3 mb-5 bg-white rounded"  style="width:172%; height:200%"; text-align:center">
    <div class="col-12 col-md-12">
        <legend>Contáctenos</legend>
        <p class="text-justify">
        </p>
    </div>
</div>
<div class="row shadow-lg p-3 mb-5 bg-white rounded"  text-align:center" style="width:172%; height:200%";>
    @for (int i = 0; i < ViewBag.Contactenos.Count; i++)
    {
    <div class="col-12 col-md-12">
        <hr />
        <div class="row">
            <div class="col-12 col-md-5" style="display:flex">
                <p class="text-justify text-dark font-weight-bold mr-1">
                    ●
                </p>
                <p class="text-justify text-dark font-weight-bold">
                    @ViewBag.Contactenos[i].TN_Contacto
                </p>
            </div>
        </div>
        </div>
    }
</div>