@{
    ViewData["Title"] = "Facilidades";
    Layout = "_Layout";
}

<div class="row shadow-lg p-3 mb-5 bg-transparent rounded">
    <legend style="font-weight: bold;  font-family:Felix Titling;">Facilidades</legend>
</div>
<div class="row">
    @for (int i = 0; i < ViewBag.Facilidades.Count; i++)
    {
    <div class="col-12 col-md-12">
        <hr />
        <div class="row">
            <div class="col-12 col-md-5 align-self-center" style="max-width: 400px">
                <img class="align-self-center" src="data:image/@ViewBag.Facilidades[i].galeria.TC_Formato;base64,@ViewBag.Facilidades[i].galeria.TV_Archivo" alt="@ViewBag.Facilidades[i].galeria.TC_Descripcion" style="max-width: 100%; height: 300px;">
            </div>
            <div class="col-12 col-md-5" style="display:flex">
                <p class="text-justify text-dark font-weight-bold mr-1" style="font-family: Century Gothic;">
                    ●
                </p>
                <p class="text-justify text-dark font-weight-bold" style="font-family: Century Gothic;">
                    @ViewBag.Facilidades[i].TC_Descripcion
                </p>
            </div>
        </div>
   </div>
        

     }
</div>
