@{ 
    ViewData["Title"] = "Facilidades";
    Layout = "_Layout";
}


<legend>Facilidades</legend>
<div class="row justify-content-center">
    @for (int i = 0; i < ViewBag.Facilidades.Count; i++) {
        <div class="col-12 col-md-8">
            <img src="data:image/@ViewBag.Facilidades[i].TC_Formato;base64,@ViewBag.Facilidades[i].TV_Archivo" alt="@ViewBag.Facilidades[i].galeria.TC_Descripcion" style="max-width: 100%; height: 100%;">
        </div>
        <div class="col-12 col-md-4">
            <p class="text-justify">
                @ViewBag.Facilidades[i].TC_Descripcion
            </p>
        </div>
    }
</div>