@{
    ViewData["Title"] = "Sobre Nostros";
    Layout = "_Layout";
}

<div class="row shadow-lg p-3 mb-5 bg-white rounded" style="padding-left: 1em; padding-right: 1em; margin-right:0.5em">
    <div class="col-12 col-md-12">
        <legend>Sobre Nosotros</legend>
        <p class="text-justify">
            @ViewBag.SobreNosotros
        </p>
    </div>
</div>