@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}



<div class="row" style="padding-left: 1em; padding-right: 1em;">

    <div class="col-12 col-md-5">
        <img height="450" width="450" src="data:image/jpeg;base64,@ViewBag.FotoPrincipal"/>
    </div>

    <div class="col-12 col-md-7">
        <legend>Bienvenido al @ViewBag.Nombre</legend>
        <p class="text-justify">
            @ViewBag.Descripcion
        </p>
    </div>

</div>