@{ ViewData["Title"] = "Home";
    Layout = "_LayoutAdmin"; 
}

<div class="row shadow-lg p-3 mb-5 bg-transparent rounded">
    <div class="col-12">
        <legend style="font-weight: bold;  font-family:Felix Titling;">Administrar Sugerencias</legend>
        <span style="font-family: Century Gothic; margin-top: 1em;">Acá podrá ver y eliminar las diferentes sugerencias hechas por nuestros clientes</span>
    </div>
</div>

<div class="row shadow-lg p-3 mb-5 bg-transparent rounded justify-content-around">
    <form class="col-10 col-md-6 justify-content-around" autocomplete="off" asp-controller="AdministradorSugerencias" asp-action="AdministrarSugerenciasFiltro" style="display:flex">
        <input type="text" name="rangofechasNo" placeholder="Rango de Fechas" class="form-control mt-1" required />
        <input type="submit" value="Filtrar" class="btn btn-success ml-1" />
    </form>

    <div class="col-2 col-md-6" style="display:flex;justify-content:flex-end">
        <button class="btn btn-secondary font-weight-bold ml-1" onclick="reporteSugerencias()">Reporte</button>
    </div>
</div>

<table class="table table-striped" id="tablaSug">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Sugerencia</th>
            <th scope="col">Fecha</th>
            @if (ViewBag.RolActual == 1)
            {
                <th scope="col" id="acc">Acción</th>
            }
            </tr>
    </thead>
    <tbody id="contenidoTablaSugerencias">
        @for (int i = 0; i < ViewBag.Sugerencias.Count; i++){
        <tr>
            <th scope="row">@ViewBag.Sugerencias[i].TN_Id</th>
            <td>
                <span>@ViewBag.Sugerencias[i].TC_Sugerencia</span>
            </td>
            <td>
                <span>@ViewBag.Sugerencias[i].TF_Fecha</span>
            </td>
            @if (ViewBag.RolActual == 1)
            {
                <td>
                    <button class="btn btn-danger" id="@ViewBag.Sugerencias[i].TN_Id" onclick="eliminarSugerencia(this)">Eliminar</button>
                </td>
            }
            </tr>
         }
    </tbody>
</table>