@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutAdmin";
}

<div class="row shadow-lg p-3 mb-5 bg-transparent rounded">
    <legend style="font-family:Forte;">Modulo Administrativo</legend>
</div>